<ion-view cache-view="false">
    <ion-nav-title>Agendamentos Realizados</ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item ng-class="{'falha' : agendamento.confirmado == 'false'}" ng-repeat="agendamento in agendamentos">
                <ion-option-button class="button-positive" ng-hide="agendamento.confirmado == 'true'" ng-click="reenviar(agendamento)">Reenviar</ion-option-button>
                {{agendamento.modelo}} - {{agendamento.preco | finance:true:2}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>